*{
    margin: 0;
}
body{
    background-color: azure;
}
.card-cont{

    margin-top: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.card1{
    width: 200px;
    height: 60px;
    margin: 30px;
    box-sizing: border-box;
    box-shadow: 1px 2px 4px black;
    text-align: center;
    background-color: blueviolet;
    border-radius: 10px;
    border-style:  solid ;
    transition: 0.3s;

}

.card1 a{
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    text-align: center;
  
}
.card1:hover{
    box-shadow: 10px 15px 15px blue;
    width: 210px;
    transition: 0.5s;
}
.card1 a:hover{
    color: red;
    font-size:2.7rem ;
}


    /*------------
    footer start
    --------------*/
    .footer1{
        background-color: rgb(34, 32, 32);
        text-align: center;
        padding-bottom: 20px;
        margin-top: 350px ;
       
    }
   
    #copy{
        color: white;
        padding-top: 15px;

       }
